.parent{
    margin-top: 0px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    padding-left: 0px;
    background-color: #EDEDED;
}

.parent li:nth-child(even){
    background-color: #F2F2F2;
}

